{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block main %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('pictures/berlin.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BERLIN</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('pictures/budapest.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BUDAPEST</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('pictures/prague.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRAGUE</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('pictures/tokyo.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TOKYO</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('pictures/rome.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ROME</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('pictures/venice.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">VENICE</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


